<div class="container profile-container">
  <div class="row">
    <div class="profile-nav col-md">
      <div class="panel">
        <div class="info">
          <img
            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            alt="userimage"
            class="user-thumbnail"
          />
          <h1 class="heading1">John Doe</h1>
          <h2 class="heading2">johndoe@mail.com</h2>
        </div>
      </div>
    </div>

    <div class="profile-info col-md">
      <div class="container profile-heading-container">
        <h1 class="profile-heading1">User Profile</h1>
        <br />
        <br />
        <div class="row">
          <div class="profile-row">
            <p><span>First Name </span>: John</p>
          </div>
          <div class="profile-row">
            <p><span>Last Name </span>: Doe</p>
          </div>

          <div class="profile-row">
            <p><span>Email </span>: johndoe@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
