 <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center">Software Section</h1>
    <p class="lead text-center">Below you will find descriptions of all of the store departments and goods we provide!</p>
  </header>

<!-- Bootstrap Cards Layout: -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="{{software[0].images}}" class="card-img-top" alt="{{software[0].item}}">
            <div class="card-body text-center">
                <h5 class="card-title">{{software[0].item}}</h5>
                <p class="card-price">Price: ${{software[0].price}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{software[1].images}}" class="card-img-top" alt="{{software[1].item}}">
            <div class="card-body text-center ">
                <h5 class="card-title">{{software[1].item}}</h5>
                <p class="card-price">Price: ${{software[1].price}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{software[2].images}}" class="card-img-top" alt="{{software[2].item}}">
            <div class="card-body text-center">
                <h5 class="card-title">{{software[2].item}}</h5>
                <p class="card-price">Price: ${{software[2].price}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>  
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{software[3].images}}" class="card-img-top" alt="{{software[3].item}}">
            <div class="card-body text-center">
                <h5 class="card-title">{{software[3].item}}</h5>
                <p class="card-price">Price: ${{software[3].price}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
            </div>
        </div>
    </div>
  
    <div class="col">
      <div class="card">
          <img src="{{software[4].images}}" class="card-img-top" alt="{{software[4].item}}">
          <div class="card-body text-center">
              <h5 class="card-title">{{software[4].item}}</h5>
              <p class="card-price">Price: ${{software[4].price}}</p>

          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
          </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card">
          <img src="{{software[5].images}}" class="card-img-top" alt="{{software[5].item}}">
          <div class="card-body text-center">
              <h5 class="card-title">{{software[5].item}}</h5>
              <p class="card-price">Price: ${{software[5].price}}</p>
          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
          </div>
      </div>
    </div>
  </div>