.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 70px;
}

.offer {
  width: 220px;
  margin: 10px;
  height: 270px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f8f4f4;
  box-shadow: 4px 3px 8px 0px rgb(33 37 41);
  transition-duration: 0.3s;
  cursor: pointer;
  object-fit: cover;
}

.offer:hover {
  box-shadow: 4px 3px 11px 6px rgb(33 37 41);
  transform: translateY(-3px);
}

.offer-thumb-container {
  background-color: #fff;
  position: relative;
  height: 150px;
  color: #000;
  text-align: center;
}

.offer-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.offer-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 125px;
}

.offer-dic {
  text-decoration: line-through;
}

.offer-item {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word !important;
}

.offer-details {
  display: flex;
}

.offer-desc {
  margin-right: 2px;
  margin-left: 2px;
  color: gray;
  font-size: 13px;
}


.card-img-top{

  width: 100%;
  height: 8vw;
  object-fit: cover;
}

.card-footer{
justify-content: center;
}

.card-discount{
  justify-content: center;
  color: red;
}

.card-new-price{
  justify-content: center;
  color: blue;
}

.card-old-price{
  justify-content: center;
  color: purple;
}