
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center">Computers Section</h1>
    <p class="lead text-center">Below you will find descriptions of all of the store departments and items we provide!</p>
  </header>

<!-- Bootstrap Cards Layout: -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card">
          <img src="{{computers[0].images}}" class="card-img-top" alt="{{computers[0].item}}">
          <div class="card-body text-center">
              <h5 class="card-title">{{computers[0].item}}</h5>
              <p class="card-price">Price: ${{computers[0].price}}</p>

          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="{{computers[1].images}}" class="card-img-top" alt="{{computers[1].item}}">
          <div class="card-body text-center ">
              <h5 class="card-title">{{computers[1].item}}</h5>
              <p class="card-price">Price: ${{computers[1].price}}</p>

          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="{{computers[2].images}}" class="card-img-top" alt="{{computers[2].item}}">
          <div class="card-body text-center">
              <h5 class="card-title">{{computers[2].item}}</h5>
              <p class="card-price">Price: ${{computers[2].price}}</p>

          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>  
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="{{computers[3].images}}" class="card-img-top" alt="{{computers[3].item}}">
          <div class="card-body text-center">
              <h5 class="card-title">{{computers[3].item}}</h5>
              <p class="card-price">Price: ${{computers[3].price}}</p>

          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
          </div>
      </div>
  </div>

  <div class="col">
    <div class="card">
        <img src="{{computers[4].images}}" class="card-img-top" alt="{{computers[4].item}}">
        <div class="card-body text-center">
            <h5 class="card-title">{{computers[4].item}}</h5>
            <p class="card-price">Price: ${{computers[4].price}}</p>

        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
        </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
        <img src="{{computers[5].images}}" class="card-img-top" alt="{{computers[5].item}}">
        <div class="card-body text-center">
            <h5 class="card-title">{{computers[5].item}}</h5>
            <p class="card-price">Price: ${{computers[5].price}}</p>

        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary" routerLink="/cart">Add To Cart</a>
        </div>
    </div>
  </div>
</div>